@font-face {
  font-family: "FontAwesome";

  src: url("https://font-awesome/fontawesome-webfont.ttf") t("truetype") forma;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
  overflow: hidden;
}
.listOfUsers {
  width: 30%;
  height: 100%;
  overflow-x: hidden;
  /* border-right: 1px solid #ccc; */
  background-color: rgb(255, 255, 255);
}
.chatArea {
  width: 70%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}
.chatHeader {
  position: fixed;
  width: 70%;
  height: 40px;
  background-color: rgb(20, 108, 241);
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.chatControls {
  background-color: #e9e5e5;
  display: flex;

  position: fixed;
  width: 70%;
  height: 60px;
  bottom: 0;
}
.chatControls .textarea {
  width: 90%;
  height: 40px;
  outline: #fff;
  font-size: 1rem;
  padding: 10px;

  font-family: "Poppins", sans-serif;

  border-radius: 20px;
}
.textarea::placeholder {
  color: rgb(17, 17, 17);
}
.SendButton {
  width: 5%;
  margin: auto 1rem;
  padding: 5px;
  height: 40px;
  color: #fff;
  background-color: #1b5ff9;
  border-radius: 20px;
}

.chatControls .fi {
  margin: 0.8rem;
  height: 40px;
  width: 3%;
}
.displayName {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  box-sizing: border-box;
  cursor: pointer;

  color: #020202;
  border-bottom: 1px solid rgb(226, 226, 226);
}
.notify-badge {
  position: absolute;
  right: -2px;
  top: 17px;
  width: 18px;
  height: 18px;

  background: #1b5ff9;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  font-weight: 500;
  z-index: 100;
}
.item {
  position: relative;
  padding-top: 20px;
  display: inline-block;
  pointer-events: none;
}
.displayName:hover {
  transition: all 0.3s ease-in-out;
  background: #1b5ff9;
  transform: scale(1.05, 1.05);
  color: #fff;
}
.displayName.active {
  background: #1b5ff9;
  color: #fff;
  box-shadow: 5px 4px 23px 5px rgba(132, 132, 132, 0.75);
}

.Dp {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  left: 0;
  top: -1rem;
  pointer-events: none;
}
.startchat {
  position: absolute;
  align-items: center;
  margin: 18vh 18vw;
  width: 40%;
}

.messagestyleright {
  background: rgb(148, 220, 248);
  display: inline-block;
  padding: 1px 10px;
  border-radius: 10px;
  max-width: 40%;
  margin: 1px;
  margin-top: 2px;
  display: inline-block;
  font-size: 0.9rem;
  text-align: center;
  position: relative;
}
.messagestyleright:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid rgb(148, 220, 248);
  border-right: 10px solid transparent;
  border-top: 10px solid rgb(148, 220, 248);
  border-bottom: 0px solid transparent;
  right: -8px;
  top: 0px;
}
.normalrightmessage {
  background: rgb(148, 220, 248);
  display: inline-block;
  padding: 1px 10px;
  border-radius: 10px;
  margin: 1px;
  max-width: 40%;

  font-size: 0.9rem;
  text-align: center;
  position: relative;
}
.normalleftmessage {
  background: rgb(221, 221, 221);
  display: inline-block;
  padding: 1px 10px;
  border-radius: 10px;
  margin: 1px;
  max-width: 40%;
  display: inline-block;
  font-size: 0.9rem;
  text-align: center;
  position: relative;
}
.messagestyleleft {
  background: rgb(221, 221, 221);
  display: inline-block;
  padding: 1px 10px;
  border-radius: 10px;
  max-width: 40%;
  margin: 1px;
  display: inline-block;
  font-size: 0.9rem;
  text-align: center;
  position: relative;
}
.messagestyleleft:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid rgb(221, 221, 221);
  border-top: 10px solid rgb(221, 221, 221);
  border-bottom: 0px solid transparent;
  left: -8px;
  top: 0px;
}
.messageSections {
  height: calc(100% - 100px);
  width: 100%;
  overflow-x: hidden;
  position: relative;
  top: 40px;
  overflow: overlay;
  background-color: azure;
}
.sent {
  margin-right: 3rem;
}
.received {
  margin-left: 3rem;
}
.messageSections::-webkit-scrollbar {
  width: 6px;
  background: white;
}
.messageSections::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}
.messageSections::-webkit-scrollbar-thumb {
  background-color: rgb(180, 180, 180);
  border-radius: 20px;
}
.messageSections::-webkit-scrollbar-track-piece {
  display: none;
}
.displayPerson {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .onlineStatus:before {
}
.onlineStatus.off {
} */

@media only screen and (min-device-width: 300px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    display: flex;
    position: absolute;
    width: 150vw;
    height: calc(100% - 60px);
    overflow: scroll;
  }
  .listOfUsers {
    width: 33.4%;
    height: 100%;
    overflow-x: hidden;
    border-right: 1px solid #ccc;
  }
  .chatArea {
    width: 66.6%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
  }
  .chatHeader {
    position: relative;
    width: 100%;
    height: 40px;
    background: #1b5ff9;
    text-align: center;

    font-family: "Poppins", sans-serif;
  }
  .chatControls {
    display: flex;
    position: relative;
    width: 100%;
    height: 50px;
    bottom: 0;
  }
  .chatControls .fi {
    margin: 0.6rem;
    height: 40px;
    width: 3%;
  }
  .chatControls .textarea {
    font-size: 1.1rem;
    padding: 10px;
    width: 85%;

    overflow-y: hidden;
  }
  .chatControls .SendButton {
    width: 15%;
    margin: auto 1rem;
  }
  .messageSections {
    height: calc(100% - 90px);
    width: 100%;
    overflow-x: hidden;
    position: relative;
    top: 4px;
  }
  .startchat {
    margin: 23vh 14vw;
    width: 50%;
  }
  .sent {
    margin-right: 1rem;
  }
  .received {
    margin-left: 1rem;
  }
  .messagestyleright {
    background: rgb(148, 220, 248);
    display: inline-block;
    padding: 1px 10px;
    border-radius: 10px;
    max-width: 40%;
    margin: 1px;
    margin-top: 2px;
    display: inline-block;
    font-size: 1rem;
    text-align: center;
    position: relative;
  }
  .messagestyleright:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid rgb(148, 220, 248);
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(148, 220, 248);
    border-bottom: 0px solid transparent;
    right: -8px;
    top: 0px;
  }
  .normalrightmessage {
    background: rgb(148, 220, 248);
    display: inline-block;
    padding: 1px 10px;
    border-radius: 10px;
    margin: 1px;
    max-width: 40%;
    display: inline-block;
    font-size: 1rem;
    text-align: center;
    position: relative;
  }
  .normalleftmessage {
    background: rgb(221, 221, 221);
    display: inline-block;
    padding: 1px 10px;
    border-radius: 10px;
    margin: 1px;
    max-width: 40%;
    display: inline-block;
    font-size: 1rem;
    text-align: center;
    position: relative;
  }
  .messagestyleleft {
    background: rgb(221, 221, 221);
    display: inline-block;
    padding: 1px 10px;
    border-radius: 10px;
    max-width: 40%;
    margin: 1px;
    display: inline-block;
    font-size: 1rem;
    text-align: center;
    position: relative;
  }
  .messagestyleleft:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid rgb(221, 221, 221);
    border-top: 10px solid rgb(221, 221, 221);
    border-bottom: 0px solid transparent;
    left: -8px;
    top: 0px;
  }
}
